body {
  margin: 0;
  background-color: ivory;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1, h2, p {
  margin: 1em auto 0;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-variant: small-caps;
}

p {
  font-style: italic;
  margin-top: 0;
}

fieldset {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.form {
  padding: 10px 0 0 5px;
}

.form input, .form label {
  display: inline-block;
}

.form input {
  width: 50%;
  text-align: left;
}

.form label {
  text-align: right;
  width: 10%;
  min-width: 90px;
}

input[type="submit"] {
  display: block;
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: 100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 1400px;
}

.gallery img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meme:hover {
  opacity: 50%;
}

div.top-text, div.bottom-text {
  position: absolute;
  font-family: Impact;
  color: white;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  padding: 3px;
}

div.top-text {
  top: 0;
}

div.bottom-text {
  bottom: 0;
}
